PASSWORD_HASH=$2a$14$zFYnMCWBqq3cbYRpf7z43e/.alegeg5u3DY7bcEC1PCFQe50JQySC
JWT_SECRET=replace-with-output-of-openssl-rand-hex-32
MEDIAMTX_API=http://127.0.0.1:9997
MEDIAMTX_HLS=http://127.0.0.1:8888
PORT=443
TLS=yes
CERT_DIR=/var/lib/auth-svc/certs
